@model List<PortalWebCliente.Models.ProjectModel>

<div class="portlet light portlet-fit ">
    <div class="portlet-title"style="margin:0;">
        <div class="caption">
            <span class="caption-subject font-black bold uppercase" style="font-size:150%;">LISTADO DE OPERACIONES</span>
        </div>
    </div>
    <div class="portlet-body" style="padding:2px">
        <div class="mt-element-list">
            <div class="mt-list-container list-default"
                 style="padding:5px">
                <ul style="margin:0%;padding:0%;">
                    @foreach (ProjectModel item in Model)
                    {
                        <li class="mt-list-item"style="margin:0;padding:2% 0;display:flex;">
                            <img src="~/images/operation-history-icon.png"width="40px"height="40px"style="margin:0 2%;"/>
                            <div class="list-item-content"style="padding:0;float:left;margin:auto 0 0 0;">
                                <h3 class="uppercase bold">
                                    <a href="/Home/@item.name">@item.name</a>
                                </h3>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<link href="~/css/operationsStyles.css" rel="stylesheet" type="text/css" />