<div class="page-content">
    <h3 class="steps-header">
        Timeline de la operacion
    </h3>
    <section id="Steps" class="steps-section">
        <div class="steps-timeline">
            <div class="steps-one">
                <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
                <h3 class="steps-name">
                    Semantic
                </h3>
                <p class="steps-description">
                    The timeline is created using negative margins and a top border.
                </p>
            </div>
            <div class="steps-two">
                <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
                <h3 class="steps-name">
                    Relative
                </h3>
                <p class="steps-description">
                    All elements are positioned realtive to the parent. No absolute positioning.
                </p>
            </div>
            <div class="steps-three">
                <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
                <h3 class="steps-name">
                    Contained
                </h3>
                <p class="steps-description">
                    The timeline does not extend past the first and last elements.
                </p>
            </div>
        </div>
    </section>
</div>
