.section-header {
    color: Black;
    font-weight: 400;
    font-size: 1.4em;
}

.steps-header {
    color: Black;
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: 20px;
    text-align: center;
}

.steps-timeline {
    outline: 1px dashed rgba(orange, 0);
}

.steps-one,
.steps-two,
.steps-three {
    outline: 1px dashed rgba(black, 0p);
}

.steps-img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    border-image: 50%;
}

.steps-name,
.steps-description {
    margin: 0;
}

.steps-name {
    color: black;
    font-weight: 400;
    font-size: 1.4em;
}


.steps-description {
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .steps-timeline {
        border-left: 2px solid orange;
        margin-left: 25px;
    }

    .steps-one,
    .steps-two,
    .steps-three {
        margin-left: -25px;
    }

    .steps-one,
    .steps-two {
        padding-bottom: 40px;
    }

    .steps-three {
        margin-bottom: -100%;
    }

    .steps-img {
        float: left;
        margin-right: 20px;
    }
}

@media screen and (min-width: 500px) {
    .steps-timeline {
        border-top: 2px solid orange;
        padding-top: 20px;
        margin-top: 40px;
        margin-left: 16.65%;
        margin-right: 16.65%;
    }

    .steps-one,
    .steps-two,
    .steps-three {
        float: left;
        width: 33%;
        margin-top: -50px;
    }

    .steps-one {
        margin-left: -16.65%;
        margin-right: 16.65%;
    }

    .steps-three {
        margin-left: 16.65%;
        margin-right: -16.65%;
    }

    .steps-name {
        text-align: center;
    }

    .steps-description {
        text-align: center;
    }
}

.steps-timeline:after {
    content: "";
    display: table;
    clear: both;
}
